In [4]:
## QUESTION 1
a = "shravani" ,[10,20,300],10.20 ,[10,20,20.3,"tanya","sanju"]
print(a)

('shravani', [10, 20, 300], 10.2, [10, 20, 20.3, 'tanya', 'sanju'])

In [11]:
## QUESTION 2
var1 =''
type(var1)

str

In [10]:
var2 = '[DS,ML,PYTHON]'
type(var2)

str

In [12]:
var3 = ['DS','ML','Python']
type(var3)

list

In [8]:
var4 = 1
type(var4)

int

In [17]:
## QUESTION 3
# / :- Use for division of two numbers.
a = 4
b = 2
c = a/b
print("The division is:",c)

# % - This operator is use for modulo.
d = a%b
print("The modulo is:",d)
# // - This operator is use for floor division.
e = a//b
print("Thr floor division is:",e)
# ** - This operator is use for to find power of numbers.
r = 10**2
print("The power id:",r)

The division is: 2.0
The modulo is: 0
Thr floor division is: 2
The power id: 100

In [18]:
## QUESTION 4
a = [10,230,45.56,"tanaya","riya",43.23,"Mumbai","Chennai",5896,563]
for i in a :
    print(i)
    print(type(i))

10
<class 'int'>
230
<class 'int'>
45.56
<class 'float'>
tanaya
<class 'str'>
riya
<class 'str'>
43.23
<class 'float'>
Mumbai
<class 'str'>
Chennai
<class 'str'>
5896
<class 'int'>
563
<class 'int'>

In [6]:
## QUESTION 5
A = 2
B = 1
while(B <= 10):
    if A % B == 0:
        result = B
    print (result)
    B = B + 1

1
2
2
2
2
2
2
2
2
2

In [21]:
## QUESTION 6
a =[30,12,25,26,14,58,69,74,9,63,20,50,98,54,78,15,18,22,21,36,82,65,84,60,25]
for i in a:
    print(i)
    if i / 3:
        print("This element is divisible by 3")
    else:
        print("Elements are not divisible by 3")

30
This element is divisible by 3
12
This element is divisible by 3
25
This element is divisible by 3
26
This element is divisible by 3
14
This element is divisible by 3
58
This element is divisible by 3
69
This element is divisible by 3
74
This element is divisible by 3
9
This element is divisible by 3
63
This element is divisible by 3
20
This element is divisible by 3
50
This element is divisible by 3
98
This element is divisible by 3
54
This element is divisible by 3
78
This element is divisible by 3
15
This element is divisible by 3
18
This element is divisible by 3
22
This element is divisible by 3
21
This element is divisible by 3
36
This element is divisible by 3
82
This element is divisible by 3
65
This element is divisible by 3
84
This element is divisible by 3
60
This element is divisible by 3
25
This element is divisible by 3

In [22]:
## QUESTION 7
#MUTABLE DATA TYPE-:
# In Mutable  data types you can change the value of obeject without changing its identity.
a = [1,3,4,5,7]
a.append(2)
print("Adding element 2 in list",a)
a.insert(4,6)
print("Adding element 6 on the index 4",a)
a.remove(5)
print("REmoving element 5",a)

Adding element 2 in list [1, 3, 4, 5, 7, 2]
Adding element 6 on the index 4 [1, 3, 4, 5, 6, 7, 2]
REmoving element 5 [1, 3, 4, 6, 7, 2]

In [25]:
# IMMUTABLE DATA TYPE
# In immutable data type you can not modifide the object once it created.
str = "Mumbai"
str[0] = "t"
print(str)

TypeError: 'str' object does not support item assignment

In [25]:
# IMMUTABLE DATA TYPE
# In immutable data type you can not modifide the object once it created.
str = "Mumbai"
str[0] = "t"
print(str)

TypeError: 'str' object does not support item assignment